.rows{
    display: flex;
    flex-direction: row;
}
div{    
    outline: 1px solid white;
    flex: 1 1 auto;
    text-align: center;
    height: 2em;
}
#container{
    padding-right: 15%;
    padding-left: 15%;
}
.column:hover {
    background-color: seagreen;
  }